<p class="title">YOUR SAVED BEERS</p>

<div class="beers">
  <ng-container *ngFor="let beer of beers">
    <div class="beer">
      <div class="beer-thumb-container">
        <img
          *ngIf="beer.image_url"
          src="{{ beer.image_url }}"
          alt="thumbnail"
          class="beer-thumbnail"
          (click)="goToPage('details', beer.id)"
        />
        <p *ngIf="!beer.image_url">No Image</p>
      </div>
      <div class="beer-description">
        <p class="beer-name">{{ beer.name }}</p>
        <div class="beer-platforms">
          <img src="" alt="slug" class="beer-platform" />
          <app-subscribe-button
            [enableSwitch]="isSaved(beer.id)"
            (enableSwitchChange)="switchToggled(beer.id, beer.name, $event)"
          ></app-subscribe-button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
