ul {
  list-style: none;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: white;
}


.search {
    &-container {
      width: 100%;
      height: 60px;
      // background-color: #4db15f;
      background-color: #3c3c3c;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 4;
    }

    &-form {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
    }

    &-input {
      margin-left: 10px;
      padding: 10px;
      width: 300px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      outline: none;
      border: none;
    }

    &-button {
      border: none;
      outline: none;
      background: #3f51b5;
      padding: 10px;
      border-left: 1px solid rgba(0, 0, 0, 0.3);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #fff;
      font-weight: 700;
      transition-duration: 0.3s;
      cursor: pointer;

      &:hover {
        color: #3f51b5;
        background-color: #fff;
        border: 1px solid #3f51b5;
      }
    }
  }

  .logo {
    margin-left: 10px;
    color: #fff;
    font-weight: 800;
    font-size: xx-large;
    cursor: pointer;
    text-decoration: none;
  }

  .favourites {
    margin-left: 10px;
    margin-top: 5px;
    color: #fff;
    white-space: nowrap;
    font-weight: 800;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
  }

  .filters {
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 20px;
  }

  ::ng-deep {
    .mat-form-field-infix {
      background-color: #3f51b5;
    }

    .mat-select-value,
    .mat-select-arrow,
    .mat-form-field-hide-placeholder .mat-select-placeholder,
    .mat-form-field-appearance-legacy .mat-form-field-label {
      color: #fff !important;
      opacity: 1;
    }

    .mat-form-field-infix {
      border-color: #fff !important;
      border-top: none;
      padding-left: 5px !important;
    }

    .mat-form-field-appearance-legacy .mat-form-field-label {
      padding-left: 5px;
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
      background-color: #fff !important;
    }
  }

  .beers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 20px auto;
  }

  .beer {
    width: 280px;
    margin: 10px;
    height: 330px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #202020;
    box-shadow: 4px 3px 8px 0px rgb(200 152 44 / 22%);
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
      transform: translateY(-3px);
    }

    &-thumb-container {
      background-color: #000;
      position: relative;
      height: 172px;
      color: #fff;
      text-align: center;
    }

    &-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 172px;
    }

    &-description {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 157px;
    }

    &-name {
      color: #fff;
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-platforms {
      display: flex;
    }

    &-platform {
      width: 120px;
      margin-right: 10px;
    }
  }
