<!-- Header and search bar -->

<div class="search-container">
    <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <span class="logo" routerLink="/">BEER-UP</span>
    </form>


    <ul>
        <li>
            <a routerLink="/favourites" class="favourites" (click)="onClick()" >Saved Beers</a>
        </li>
    </ul>

    <input type="text" name="search" (input)="onType()" placeholder="Search 1000+ Beers locally and international" class="search-input"  [(ngModel)]="searchInput"/>
    <button class="search-button" (click)="onSearch()" routerLink="/search">
        Search
    </button>
</div>

<router-outlet></router-outlet>
